@import '../../../styles/variables';

.title{
    padding-top: 24px;
    padding-bottom: 20px;
    text-align: center;
    font-family: "Sansation";
    font-weight: 700;
    font-size: 28px;
    color: $colorBlue;
    background: $colorDarkBackground;
    display: flex;
    justify-content: center;

    .titleImg{
      margin-left: 16px;
      display: block;
    }
    .inProcess{
      animation: moving 3s infinite linear;
    }
}
.pagination{
    margin-top: 16px;
    margin-bottom: 48px;
    text-align: center;
    font-family: 'Play';
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: $colorMenuGray;
}

@keyframes moving {
    100% {transform: rotate(360deg);}
}