@import '../../../styles/variables.scss';

@keyframes moving {
  100% {transform: rotate(360deg);}
}

.wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 10px;

  @media (max-width: 430px) {
    flex-direction: column;
    align-items: start;
    margin-top: 20px;
  }
}

.line {
  height: 1px;
  background: #272b30;
  position: absolute;
  top: 10px;
  right: 30px;
  left: 30px;

  @media (max-width: 430px) {
    transform-origin: 0 0 0;
    transform: rotateZ(90deg);
    width: 160px;
    left: 20px;
  }
}

.statusItem {
  z-index: 1;

  @media (max-width: 430px) {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
  }
}

.statusItem img {
  width: 18px;
  height: 18px;
}

.statusView {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 13px;
  width: 40px;
  background: $colorBackground;

  @media (max-width: 430px) {
    margin-bottom: 0;
  }
}

.successStep {
  width: 19px;
  height: 19px;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: moving 3s infinite linear;
}

.step {
  width: 18px;
  height: 18px;
  border: 1px solid #272b30;
  box-sizing: border-box;
  border-radius: 50%;
}

.statusLabel {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: $colorGray;
  width: 95px;
}

.activeStep {
  color: $colorBlue;
}