@import '../../../styles/variables';

.root {
  position: relative;
}

.title {
  padding-top: 24px;
  padding-bottom: 24px;
  text-align: center;
  font-family: "Sansation";
  font-weight: 700;
  font-size: 28px;
  color: $colorBlue;
  background: $colorDarkBackground;
}
.pagination{
  margin-top: 16px;
  margin-bottom: 48px;
  text-align: center;
  font-family: 'Play';
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: $colorMenuGray;
}
.wrapper {
  width: 70%;
  margin: auto;
  padding-bottom: 100px;
}
.container{
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  span {
    font-family: 'Play';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    color: $colorLiteGray;
    margin-bottom: 16px;
  }

  .column{
    flex: 1 260px;
    display: flex;
    flex-direction: column;

    input{
      z-index: 1;
      background: $colorDarkBackground;
      width: 100%;
      border: 0;
      padding: 10px 20px;
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      color: #E4E4E4;
      height: 57px;
    }
  }
}

.error {
  position: absolute;
  width: calc(100% + 2px);
  left: -1px;
  animation: fadeInDown .5s forwards;
  opacity: 1;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: white;
  background: rgba(232,22,141,.9);
  padding: 5px 0;

  margin-top: 1px;

  span {
    padding-left: 5px;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}