@font-face {
    font-display: swap;
    font-family: "Play";
    font-style: normal;
    font-weight: normal;
    src: local('Play'), local('play'), url('./fonts/PlayRegular.ttf') format('truetype');
  }
  
  @font-face {
    font-display: swap;
    font-family: "Play";
    font-style: normal;
    font-weight: bold;
    src: local('Play'), local('play'), url('./fonts/PlayBold.ttf') format('truetype');
  }
  
  @font-face {
    font-display: swap;
    font-family: "Sansation";
    font-style: normal;
    font-weight: bold;
    src: local('Sansation'), local('Sansation'), url('./fonts/Sansation_Bold.ttf') format('truetype');
  }
  