@import './fonts.css';
@import './variables.scss';

* {
  box-sizing: border-box;
  font-family: 'Play', sans-serif;
  font-kerning: none;
  letter-spacing: 0.2px;
}

body {
  color: $colorTextGray;
  height: 100%;
  margin: 2% 0;
  padding: 0;
  position: relative;
}

button{
  width: 100%;
  height: 40px;
  border: 0;
  border-radius: 4px;
  background: $colorBlue;
  color: $colorBackground;
  font-family: 'Play';
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
}

.skeleton {
  display: inline-block;
  position: relative;
  top: 5px;
  left: 10px;
  border-radius: 100px;
  background: #232324;
  height: 20px;
  overflow: hidden;
  width: 40%;
  animation: move-light 1s ease-in infinite;
}

@keyframes move-light {
  0% {
    background: rgb(35, 35, 36);
  }

  50% {
    background: rgba(35, 35, 36, 0.3);
  }

  100% {
    background: rgb(35, 35, 36);
  }
}