$colorGray: #4d5256;
$colorBackground: #101010;
$colorMenuGray: #a3a9af;
$colorTextGray: #c1c8d1;
$colorTitleGray: #e4e4e4;
$colorPrimary: #e8168d;
$colorSecond: #25b7eb;
$colorGreen: #25b63a;
$colorRed: #e74c3c;
$colorDarkBackground: #1d1d1d;
$colorBlue: #00B7FA;
$colorLiteGray: #707d87;
$colorBorderGray: #272829;
$colorBlueMark: #5c33ff;
$colorPinkMark: #e8168d;
$colorGrayStar: #2e2f30;
$colorYellowStar: #ffba35;
$colorGreenStar: #00b67a;
$colorOrangeStar: #ff8622;
$colorGreenSuccess: #25b63a;
$colorRedFail: #f00;
$colorRedError: #e35e5e;
$colorActiveItem: #2c2c2c;
$colorBrightPlaceholder: #ddd;
$colorLiteTitleGray: #828b92;
$colorTextPress: #c3c3c3;
$colorTitlePress: #d2d2d2;
$colorSomeButton: #9fa5ab;
