@import '../../../styles/variables';

.title{
  padding-top: 24px;
  padding-bottom: 24px;
  text-align: center;
  font-family: "Sansation";
  font-weight: 700;
  font-size: 28px;
  color: $colorBlue;
  background: $colorDarkBackground;
}
.pagination{
  margin-top: 16px;
  margin-bottom: 48px;
  text-align: center;
  font-family: 'Play';
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: $colorMenuGray;
}
.wrapper {
  width: 70%;
  margin: auto;
  padding-bottom: 100px;
}
.container{
  margin-top: 30px;
  display: flex;
  justify-content: space-around;

  .columnImg{
    flex: 2;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 40px;
  }

  .item{
    width: 40%;

    .amount{
      color: $colorMenuGray;
      font-size: 16px;
      margin-left: 8px;
    }
  }

  span {
    font-family: 'Play';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    color: $colorLiteGray;
    margin-bottom: 16px;
  }

  .column{
    flex: 1 260px;
    display: flex;
    flex-direction: column;

    .inform{
      background-color: $colorDarkBackground;
      padding: 10px 20px;
      min-height: 70px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      cursor: pointer;

      &__down:after{
        position: absolute;
        content: '';
        right: 20px;
        top: 30px;
        border: 7px solid transparent; 
        border-top: 6px solid $colorMenuGray;
      }

      &__up:after{
        position: absolute;
        content: '';
        right: 20px;
        top: 20px;
        border: 7px solid transparent; 
        border-bottom: 6px solid $colorMenuGray;
      }
      span{
        font-size: 18px;
        color: $colorTitleGray;
        line-height: 24px;
        margin: 0px;
      }
      .amount{
        color: $colorMenuGray;
        font-size: 16px;
      }
    }

    input{
      background: $colorDarkBackground;
      width: 100%;
      border: 0;
      padding: 10px 20px;
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      color: #E4E4E4;
      height: 57px;
    }
  }
}


