@import '../../../styles/variables';

.skeleton {
  display: inline-block;
  position: relative;
  top: 5px;
  left: 10px;
  border-radius: 100px;
  background: #232324;
  height: 20px;
  overflow: hidden;
  width: 40%;
  animation: move-light 1s ease-in infinite;
}

@keyframes move-light {
  0% {
    background: rgb(35, 35, 36);
  }

  50% {
    background: rgba(35, 35, 36, 0.3);
  }

  100% {
    background: rgb(35, 35, 36);
  }
}

.wrapper {
  width: 70%;
  margin: auto;
  padding-bottom: 100px;
}
.container{
  margin-top: 30px;
  display: flex;
  justify-content: space-around;

  .columnImg{
    flex: 2;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 40px;
  }

  .item{
    width: 40%;

    .amount{
      color: $colorMenuGray;
      font-size: 16px;
      margin-left: 8px;
    }
  }

  span {
    font-family: 'Play';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    color: $colorLiteGray;
    margin-bottom: 16px;
  }

  .column{
    flex: 1 260px;
    display: flex;
    flex-direction: column;

    .inform{
      background-color: $colorDarkBackground;
      padding: 10px 20px;
      min-height: 70px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      cursor: pointer;

      &:after{
        position: absolute;
        content: '';
        right: 20px;
        top: 30px;
        border: 7px solid transparent; 
        border-top: 6px solid $colorMenuGray;
      }

      .dropdown{
        width: 100%;
        min-height: 40px;
        max-height: 140px;
        overflow-y: scroll;
        padding: 0px;
        list-style: none;
        position: absolute;
        top: 55px;
        left: 0px;
        background-color: $colorDarkBackground;

        &__elem{
          display: flex;
          flex-direction: column;
          padding: 10px 20px;
          border-top: 1px solid #4D5256;

          &:hover{
            background-color: $colorBorderGray;
          }
        }

      }
      span{
        font-size: 18px;
        color: $colorTitleGray;
        line-height: 24px;
        margin: 0px;
      }
      .amount{
        color: $colorMenuGray;
        font-size: 16px;
      }
    }

    input{
      background: $colorDarkBackground;
      width: 100%;
      border: 0;
      padding: 10px 20px;
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      color: #E4E4E4;
      height: 57px;
    }

    .hide{
      display: none;
    }
  }
}


