@import '../../../styles/variables.scss';

@keyframes moving {
  100% {transform: rotate(360deg);}
}

.title{
    padding-top: 24px;
    padding-bottom: 20px;
    text-align: center;
    font-family: "Sansation";
    font-weight: 700;
    font-size: 28px;
    color: $colorBlue;
    background: $colorDarkBackground;
    display: flex;
    justify-content: center;

    .titleImg{
      margin-left: 16px;
      display: block;
    }
    .inProcess{
      animation: moving 3s infinite linear;
    }
  }
.pagination{
  margin-top: 16px;
  margin-bottom: 48px;
  text-align: center;
  font-family: 'Play';
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: $colorMenuGray;
}
.wrapper {
  width: 50%;
  margin: auto;
  padding-bottom: 100px;
}
table{
    width: 100%;
    border-spacing: 0px 25px;

    td{
        width: 50%;
        vertical-align: top;
    
        .address{
            display: block;
            width: 220px;
            float: right;
            margin-top: 8px;
            font-weight: 700;
            font-size: 16px;
            line-height: 18px;
            text-align: right;
            color: $colorMenuGray;
            word-wrap: break-word;
        }
    }
    .left{
        font-weight: 400;
        font-size: 22px;
        line-height: 25px;
        color: $colorLiteGray;
    }
    .right{
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        text-align: right;
        color: $colorTitleGray;
    }
}