@import '../styles/variables';

.wrapper{
    width: 960px;
    background: $colorBackground;
    margin: 0px auto;
}
.title{
    padding-top: 24px;
    padding-bottom: 24px;
    text-align: center;
    font-family: "Sansation";
    font-weight: 700;
    font-size: 28px;
    color: $colorBlue;
    background: $colorDarkBackground;
}
.pagination{
    margin-top: 16px;
    margin-bottom: 48px;
    text-align: center;
    font-family: 'Play';
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: $colorMenuGray;
}